<!DOCTYPE html>
<meta charset="utf-8">
<!-- <link rel="stylesheet" type="text/css" href="../common/libs/css/bootstrap.min.css"> -->
<body>
    <ng-container id="table-page">
        
        <!-- <p class="check">table works!</p> -->
        <ng-container id="general">
            <table id="table" class="table table-striped" style="max-width: 80%;">
                <thead id="table-header">
                    <tr>
                        <td> ID </td>
                        <!-- <td>ICON</td> -->
                        <!-- <td>ARTWORK</td> -->
                        <td>UNIT NAME</td>
                        <td>CLASS</td>
                        <td>STYLE</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let character of characters">
                        <td id="id">{{character.id}}</td>
                        <!-- <td id="unit-icon"><img src={{character.icon}} alt="img"></td> -->
                        <!-- <td id="unit-art"><img src={{character.artwork}} alt="artwork" style="width:40px; height:40px"></td> -->
                        <td id="name">{{character.unitName}}</td>
                        <td id="class">{{character.class}}</td>
                        <td id="style"><button>{{character.style}}</button></td>
                    </tr>
                </tbody>
                <!-- <td mat-cell *matCellDef="let element"> {{dummy}} </td> -->
            </table>
        </ng-container>

    </ng-container>
</body>
