<!DOCTYPE html>
<meta charset="utf-8">
<!-- <link rel="stylesheet" type="text/css" href="../common/libs/css/bootstrap.min.css"> -->

<body>
    <ng-container id="table-page">
        
        <!-- FILTER BOX -->
        <ng-container>
            <div id="filters-container">
                <div id="button-container">
                    <button id="filterbutton" type="button" mdbBtn color="secondary">Filter</button>
                </div>
                <div id="style-filters">
                    <a href="#" (click)="filterByStyle()"><img src="../assets/icons/style_atk.png" alt="ATK" id="style1"></a>
                    <a href="#" (click)="filterByStyle()"><img src="../assets/icons/style_defense.png" alt="DEF" id="style2"></a>
                    <a href="#" (click)="filterByStyle()"><img src="../assets/icons/style_support.png" alt="SPT" id="style3"></a>
                    <a href="#" (click)="filterByStyle()"><img src="../assets/icons/style_heal.png" alt="RCV" id="style4"></a>
                    <a href="#" (click)="filterByStyle()"><img src="../assets/icons/style_debuff.png" alt="DBF" id="style5"></a>
                </div>
            </div>
        </ng-container>

        <!-- CHARACTER TABLE -->
        <ng-container id="general">
            <table id="maintable" class="table table-striped" style="max-width: 80%;">
                <thead id="table-header">
                    <tr>
                        <td> ID </td>
                        <td>ICON</td>
                        <!-- <td>ARTWORK</td> -->
                        <td>NAME</td>
                        <td>CLASS</td>
                        <td>STYLE</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let character of characters">
                        <td id="id">{{character.id}}</td>
                        <td id="unit-icon">
                            <img src={{character.icon}} alt="{{character.id}}" id="charicon">
                        </td>
                        <!-- <td id="unit-art"><img src={{character.artwork}} alt="artwork" style="width:40px; height:40px"></td> -->
                        <td id="name">{{character.unitName}}</td>
                        <td id="class">{{character.class}}</td>
                        <td id="style">
                            <div id="container">
                                <img src="{{character.rumble.styleIcon}}" alt="{{character.rumble.style}}"
                                    id="styleicon">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

    </ng-container>
</body>