#filters-container {
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
}

#button-container {
    float: left;
}

#filterbutton {
    margin: 20px;
}

#style-filters {
    width: 100px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#style4{
    margin-left: 15px;
}
