<div id="filters-container">
    <div id="button-container">
        <button id="filterbutton" type="button" mdbBtn color="secondary">Filter</button>
    </div>

    <div id="style-filters">
        <a href="#" (click)="filterByStyle()"><img src="assets/icons/style_atk.png" alt="ATK" id="style1"></a>
        <a href="#" (click)="filterByStyle()"><img src="assets/icons/style_defense.png" alt="DEF" id="style2"></a>
        <a href="#" (click)="filterByStyle()"><img src="assets/icons/style_support.png" alt="SPT" id="style3"></a>
        <a href="#" (click)="filterByStyle()"><img src="assets/icons/style_heal.png" alt="RCV" id="style4"></a>
        <a href="#" (click)="filterByStyle()"><img src="assets/icons/style_debuff.png" alt="DBF" id="style5"></a>
    </div>

    <!-- <div id="class-filters"></div> -->
</div>